*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #111;
    color: #fff;
}
.nav-bar{
   border-bottom: 1px solid teal;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px

}
.nav-bar ul{
 display: flex;
}
.nav-bar li{
 text-decoration: none;
    list-style: none;
    padding: 10px;
}
.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center-all{
   max-width: 500px;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 5px;
}
.center-all h1{
    font-size: 30px;
    color: teal;
    margin-bottom: 10px
}
.center-all p{
    font-size: 16px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.center-all button{
    background: teal;
    color: white;
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1;
    transition: .5;
}
